<%- include("header") -%>


  <body>
 <h1>  <%=day %></h1>



 <% for(var a=0;a<items.length;a++) { %>

<form class="" action="/delete" method="post">
  <input type="checkbox" name="item" value="<%= items[a]._id%>" onChange="this.form.submit()">
  <%= items[a].name %>
  <br />
</form>

 <%}%>


 <form class="" action="/" method="post">
   <input type="text" name="next" >
   <button type="submit" name="button">Add</button>
 </form>
  </body>
</html>
