<%- include("header") -%>

 
  <body>
 <h1>  <%=day %></h1>
 <ul>


 <% for(var a=0;a<items.length;a++) { %>

   <li><%= items[a] %></li>
 <%}%>
 </ul>

 <form class="" action="/" method="post">
   <input type="text" name="next" >
   <button type="submit" name="button">Add</button>
 </form>
  </body>
</html>
